apiVersion: v1
kind: Secret
metadata:
  name: vault-token
data:
  token: cm9vdA== # "root"
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "http://my.vault.server:8200"
      path: "kv-secrets"
      # Version is the Vault KV secret engine version.
      # This can be either "v1" or "v2", defaults to "v2"
      version: "v2"
      auth:
        # points to a secret that contains a vault token
        # https://www.vaultproject.io/docs/auth/token
        tokenSecretRef:
          name: "vault-token"
          namespace: "default" # Needed: the namespace where the token secret is stored
          key: "token"
  conditions:
      # Options are namespaceSelector, or namespaces. Could be assent for every namespace.
      - namespaceSelector:
          matchLabels:
            my.namespace.io/some-label: "value" # Only namespaces with that label will work
      - namespaces:
          - "namespace-a"
          - "namespace-b"