apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: prova
spec:
  externalSecretName: prova-cluster
  namespaceSelectors:
  - matchLabels:      
      kubernetes.io/metadata.name: prova
  refreshTime: "10s"
  externalSecretSpec:
    refreshInterval: "15s"
    secretStoreRef:
      name: vault-backend
      kind: ClusterSecretStore
    target:
      name: prova # K8s secret name
      creationPolicy: Owner
    # To get single key/value(s)
    data:
      - secretKey: username # Key to create in the K8s secret
        remoteRef:
          key: prova # Path to the secret
          property: username # Key of the Vault secret to copy
      - secretKey: password # Key to create in the K8s secret
        remoteRef:
          key: prova # Path to the secret
          property: password # Key of the Vault secret to copy
    # To get all the secret
    dataFrom:
      - extract:
          key: prova