apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prova
  namespace: prova
spec:
  data:
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: prova # secret to sync
      namespace: talos-pve
      metadataPolicy: None
      property: chiave # key to sync
    secretKey: chiave # key in k8s secret
  refreshInterval: 15s
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-backend
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: prova # secret in k8s
    namespace: prova