apiVersion: v1
kind: Namespace
metadata:
  name: excalidraw
---
apiVersion: v1
kind: Service
metadata:
  name: excalidraw
  namespace: excalidraw
  labels:
    app: excalidraw
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
  ports:
  - name: http
    port: 80
  selector:
    app: excalidraw
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: excalidraw
  namespace: excalidraw
  labels:
    app: excalidraw        
    app.kubernetes.io/name: excalidraw
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excalidraw
  template:
    metadata:
      labels:
        app: excalidraw        
        app.kubernetes.io/name: excalidraw
    spec:
      containers:
      - image: excalidraw/excalidraw:latest
        imagePullPolicy: IfNotPresent
        name: excalidraw
        ports:
        - containerPort: 80
        env:
        - name: TZ
          value: Europe/Rome
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: excalidraw-domain-com
  namespace: excalidraw
spec:
  # Certificate will be valid for these domain names
  dnsNames:
  - excalidraw.domain.com
  # Reference our issuer
  # As it's a ClusterIssuer, it can be in a different namespace
  issuerRef:
    kind: ClusterIssuer
    name: cert-manager-acme-issuer
  # Secret that will be created with our certificate and private keys
  secretName: excalidraw-domain-com
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-excalidraw-security
  namespace: excalidraw
spec:
  headers:
    sslRedirect: true
    browserXssFilter: true
    contentTypeNosniff: true
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: traefik-excalidraw-transport
  namespace: excalidraw
spec:
  serverName: excalidraw 
  insecureSkipVerify: true
---
apiVersion: traefik.io/v1alpha1
kind: TLSOption
metadata:
  name: traefik-excalidraw-tlsoptions
  namespace: excalidraw
spec:
  minVersion: VersionTLS12
  cipherSuites:
    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
    - TLS_AES_256_GCM_SHA384
    - TLS_AES_128_GCM_SHA256
    - TLS_CHACHA20_POLY1305_SHA256
    - TLS_FALLBACK_SCSV
  curvePreferences:
    - CurveP521
    - CurveP384
  sniStrict: false
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-excalidraw-websecure
  namespace: excalidraw
  annotations:
    # For Homepage service discovery
    gethomepage.dev/href: "https://excalidraw.domain.com"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/description: "Excalidraw"
    gethomepage.dev/group: Graphics
    gethomepage.dev/icon: excalidraw.svg
    gethomepage.dev/app: excalidraw # optional, may be needed if app.kubernetes.io/name != ingressRoute metadata.name
    gethomepage.dev/name: "Excalidraw"
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`excalidraw.domain.com`)
      services:
        - name: excalidraw
          port: 80
          serversTransport: traefik-excalidraw-transport
      middlewares:
        - name: traefik-excalidraw-security
  tls:
    secretName: excalidraw-domain-com
    options:
      name: traefik-excalidraw-tlsoptions
