# Config file contents referred to as "/path/to/proxysql.cnf"
datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033"
    default_schema="information_schema"
    stacksize=1048576
    server_version="8.0.34"
    connect_timeout_server=3000
    monitor_username="monitor"
    monitor_password="monitor"
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
    monitor_read_only_timeout=500
    ping_interval_server_msec=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
    connect_retries_on_failure=10
}

mysql_servers =
(
    { address="mysql-primary-0.mysql-primary.mysql.svc.cluster.local" , port=3306 , hostgroup=0, max_connections=100 },
    { address="mysql-secondary-0.mysql-secondary.mysql.svc.cluster.local" , port=3306 , hostgroup=1, max_connections=100 },
    { address="mysql-secondary-1.mysql-secondary.mysql.svc.cluster.local" , port=3306 , hostgroup=1, max_connections=100 }
)
 
mysql_users =
(
    { username = "root", password = "password", default_hostgroup = 0, active = 1 }
)

mysql_replication_hostgroups =
{
    writer_hostgroup = 0
    reader_hostgroup = 1
}

proxysql_servers =
(
    { hostname = "proxysql-0.proxysql.mysql.svc.cluster.local", port = 6032, weight = 1 },
    { hostname = "proxysql-1.proxysql.mysql.svc.cluster.local", port = 6032, weight = 1 },
    { hostname = "proxysql-2.proxysql.mysql.svc.cluster.local", port = 6032, weight = 1 }
)

mysql_query_rules:
(
  {
    rule_id=1
    active=1
    match_pattern="^SELECT .* FOR UPDATE$"
    destination_hostgroup=0
    apply=1
  },
  {
    rule_id=2
    active=1
    match_pattern="^SELECT"
    destination_hostgroup=1
    apply=1
  }
)